$icon-font-path: '../fonts/';
$text-padding-big: 20px;
$text-padding-small: 10px;
$container-margin-big: 9.05%;//130/1440
$container-margin-small: 5%;
$default-text-font-size: 16px;
$color-orange:#FF6403;
$color-light-blue:#04ADD9;

// bower:scss
// endbower


//Disable font-boosting
html * {max-height:1000000px;}

h1{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0;
}

h2{
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 0;
}

h3{
  font-size: 30px;//based on design it was 39 but it's too much I guess
  font-weight: 400;
  margin: 0;
}

h4{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

h5{
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
}

p{
  font-size: $default-text-font-size;
  line-height:25px;
  font-weight: 300;
  color:#dddddd;
  text-align: justify;
}

ol{
  list-style-type: none;
}
ul{
  list-style-type: none;
  padding-left:20px;
}

html, body{
    margin: 0px; padding: 0px;
    background-color:#0B173D;
}

body, input, button {
  font-family: Roboto;
  color:white;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}
a:hover {
  cursor:pointer;
}


button:not(:disabled){
  cursor:pointer;
}
button:disabled{
  opacity: 0.65;
}

img {
  vertical-align: middle;
}



.column{
  padding-right:$text-padding-big;
}

.no-margin{
  margin: 0;
}

.full-width-height-absolute{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.container{
  min-width: 980px;
}

.content{
  width:calc(100% - (#{$container-margin-big} * 2)); //1180/1440
  margin:0 auto;
}

.clear::after{
	clear:both;
	content: ' ';
	display:block;
	visibility:hidden;
}

.menu {
  height:60px;
  margin-top:30px;
}

.logo {
  float:left;
  line-height:0;
}
.logo-img{
  height:100px;
}
 
.menu-items{
  float:right;
}

.menu-item {
  float:left;
  line-height: 60px;
  vertical-align: middle;
  padding:0px 27px;
}

.intro {
  margin-top:10px;
  //background-position: 100% 0;
  padding-top:1px; //to prevent margin collapse
}
.intro-pattern{
  float:right;
  background-image: url(../images/header-pattern.svg);
  background-repeat:no-repeat;
  width:63.39%;//912.9/1440
  padding-top:50.68%; //729.82/1440
  //margin-right:-11.01%; //(130-81.9%)/2
}
.intro-text {
  margin-top: 12%; //190/1180
  margin-left: $container-margin-big;
}
.intro-text>h3{
  white-space: nowrap;
}
.intro-subscription-wrapper{
  width:calc(100% - 69.68% - 1%);//912.9/1310=69.68
  margin-top:25px;
}
.intro-subscription{
  display:table;
  width:100%;
}
.subscription-input-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.subscription-input {
  background-color:rgba($color: #183C68, $alpha: 0.64);
  border:none;
  width:100%;
  height:40px;
  padding:0 8px;
  font-size: $default-text-font-size;
  font-weight:100;
  vertical-align: middle;
  outline:none;
}
::placeholder {
  color: rgba($color: #FFFFFF, $alpha: 0.58);
  font-size: 14px;
  font-weight: 100;
}
.subscription-button-wrapper{
  display: table-cell;
  vertical-align: middle;
  width:62px;
}
.subscription-btn{
  background-color: $color-orange;
  background-image: url(../images/tick.png);
  background-position:center;
  background-repeat:no-repeat;
  margin-left:22px;
  height:40px;
  width:40px;
  border:0;
  vertical-align: middle;
  outline:none;
}





.vision {
  padding-top:47.04%;//677.4/1440 height of hexagonal
  margin-top: 60px;
  position:relative;
}
.vision-wrapper{
  @extend .full-width-height-absolute;
}
.vision-img {
  float:left;
  width: 43.72%; //516/1180
  height:100%;
  display:table;
}
.vision-img-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.vision-img-wrapper>img{
    //fix for SVG images in IE proposed here https://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
    width:100%;
}
.vision-text{
  float:right;
  display: table;
  width:50%;
  height:100%;
}
.vision-text-wrapper{
  background-image: url(../images/vision-bg.svg);
  background-repeat:no-repeat;
  width:100%;
  padding:0 $text-padding-big;
  display: table-cell;
  vertical-align: middle;
}





.what{
  margin-top:9.02%;//130/1440
}
.what-row1-text{
  float:left;
  width:calc(50% - #{$container-margin-big});//50-9.05
  margin-left:$container-margin-big;
  margin-top:-59.83%;//861/1440
}
.what-row1-text-wrapper{
  @extend .column;
}
.what-row1-building{
  float:right;
  width:69.4%; //1000/1440
}
.what-row2{
  margin-top:-3.47%; //50/1440
  width:100%;
  float:left;
}
.what-row2-building{
  float:left;
  width:35.36%; //509/1440
}
.what-row2-text{
  float:right;
  width:50%; 
  padding-top:21.4%;
  margin-top:5%;
  position:relative;
}
.what-row2-text-fixed-height{
  @extend .full-width-height-absolute;
}
.what-row2-text-table{
  display:table;
  height:100%;
}
.what-row2-text-table-cell{
  display: table-cell;
  vertical-align: middle;
}
.what-row2-text-wrapper {
  @extend .column;
  margin-right:calc(2 * #{$container-margin-big});//2*9.05
}
.what-row3{
  float:right;
  margin-top:-12.5%;; //180/1440
}
.what-row3-building{
  float:right;
  width:69.4%; //1000/1440
}
.what-row3-text{
  float:left;
  width:40.95%;//50-9.05
  margin-top:-30%;
  margin-left:$container-margin-big;//(100-81.9)/2
}
.what-row3-text-wrapper{
  @extend .column;
}





.how{
  margin-top:9.02%;//130/1440
  text-align: center;
}
.how-grid-cell-wrapper:nth-child(odd) .how-cell-text h4{
  color: $color-orange;
}
.how-grid-cell-wrapper:nth-child(even) .how-cell-text h4{
  color:$color-light-blue;
}
.how-grid{
  margin-top:7.62%; //90/1180
  padding:0;
  text-align: left;
}
.how-grid-cell-wrapper {
  float:left;
  width:50%;
}
.how-grid-cell{
  @extend .column;
  display:table;
  margin-bottom:40px;
}
$table-cell-height: 160px;
.how-picto-wrapper{
  width: $table-cell-height;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}
.how-cell-text-wrapper{
  height:$table-cell-height;
}
.how-text-content{
  display:table-cell;
  vertical-align: middle;
  height:$table-cell-height;
}
.how-text-content-wrapper{
  display:inline;
}
.how-picto{
  height: 130px;
}
.how-cell-text{
  vertical-align: middle;
  padding:0 25px;
  display:table-cell;
}






.ecosystem{
  width:100%;
  margin-top:60px;
  padding-top:53.4%;
  position: relative;
}
.ecosystem-wrapper{
  @extend .full-width-height-absolute;
}
.ecosystem-arrow{
  float:right;
  width:35.3%; //509/1440
  height:100%;
  display:table;
  transform: scaleX(-1);
}
.ecosystem-arrow-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.ecosystem-arrow-wrapper>img{
  //fix for SVG images in IE proposed here https://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
  width:100%;
}
.ecosystem-img{
  float:left;
  width: calc(50% - #{$container-margin-big}); //1180/1440 *0.5
  display:table;
  margin-left: $container-margin-big;
}
.ecosystem-img-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.ecosystem-svg{
  width:100%;
}





.when{
  background-image: url(../images/roadmap-bg.svg);
  background-repeat:no-repeat;
  background-position: center center;
  position: relative;
  width:100%;
  padding-top:95.26%;
  margin-top:9.02%;//130/1440
  text-align: center;
}
.when-title {
  position: absolute;
  top:5%;
  left:0;
  right:0;
}
.step{
  position: absolute;
  text-align: center;
  color: #DDDDDD;
  padding:0 10px;
}
.roadmap-step1{
  @extend .step;
  top:33.25%;//445/1338
  left:69.98%;//140/1404.5
  width:18.6%;
}
.roadmap-step2{
  @extend .step;
  top:14.94%;//200/1338
  left:39.87%;//560/1404.5
  width:15.6%;
}
.roadmap-step3{
  @extend .step;
  top:51.19%;//685/1338
  left:39.87%;//560/1404.5
  width:18.75%;//280/1404.5
}
.roadmap-step4{
  @extend .step;
  top:34.37%;//460/1338
  left:9.96%;//140/1404.5
  width:15.3%;//215/1404.5
}
.roadmap-step5{
  @extend .step;
  top:69.88%;//935/1338
  left:9.96%;//140/1404.5
  width:18.75%;//280/1404.5
}
.step > h4{
  color:$color-orange;
}







.whitepaper{
  background-image: url(../images/whitepaper-bg.svg);
  background-repeat:no-repeat;
  background-position: top center;
  margin:-11.54% auto 0 auto;//162.18/1404.57
  width:100%;
  padding-top:121.24%; //1702.9/1404.5
  position:relative;
}
.whitepaper-arrow{
  position: absolute;
  width:35.3%; //509/1440
  left:0;
  top:9.4%;//160/1702.5
}
.whitepaper-text{
  position: absolute;
  right:0;
  top:16.44%;//300px;
  left:50%;
  margin-right:$container-margin-big;
  height:12.91%;//220/1702.9
}
.whitepaper-text-container{
  display:table;
  height:100%;
}
.whitepaper-text-wrapper{
  display: table-cell;
  vertical-align: middle;
  @extend .column;
}
.whitepaper-btn{
  background-color: $color-orange;
  height:37px;
  width:202px;
  border:0;
  border-radius:5px;
  outline:none;
  font-size:14px;
  margin-top:10px;
}
.faq-wrapper{
  position: absolute;
  top:55%;
  margin-left:$container-margin-big; //130/1440
  width: calc(50% - #{$container-margin-big}); //1180/1440 *0.5
  z-index: 1;
}
.faq{
  @extend .column;
}

ul.collapsible{
  list-style-image: url(../images/right-arrow.svg)
}
li.selected{
  list-style-image: url(../images/down-arrow.svg)
}
ul.collapsible p{
  display:none;
}
li.selected p{
  display:block;
}
ul.collapsible a{
  text-decoration: underline;
}







.partners{
  background-image: url(../images/partners-bg.svg);
  background-repeat:no-repeat;
  background-position: center center;
  width:100%;
  padding-top:119.65%; //1723.09/1440 (aspect ratio)
  margin-top:-52.08%; //750/1440
  text-align: center;
  position: relative;
}
.partners-title{
  position: absolute;
  left: 0;
  right: 0;
  top:32.5%;
  margin: 0 auto;
}




.team{
  background-image: url(../images/team-bg.svg);
  background-repeat:no-repeat;
  background-position: center center;
  width:100%;
  padding-top: 101.03%; //1419.09/1404.57
  margin-top:-31.75%;//446/1404.57
  position:relative;
  text-align: center;
}
.team-section-title{
  position: absolute;
  top:17.61%;
  left:0;
  right:0;
}
.team-picture-wrapper{
  position: absolute;
  width:13.88%; //200/1440;
  text-align: center;
  color: #DDDDDD;
}
.team-title{
  color:$color-orange;
  padding-top:5px;
}
.team-name{
  color:#FFFFFF;
  padding-top:10px;
  font-size:15px;
}
.team-picture{
  width:67%;//154px;
}
.team-profile{
  padding-top:5px;
}
#team1{
  left:28.1%;//400/1440;
  top:28.9%; //422/1454.8
}
#team2{
  left:58.1%;
  top:28.9%; //422/1454.8
}
#team3{
  left:43.2%;
  top:37.6%;
}


.advisors{
  position: relative;
  z-index: 1;
}
.advisors-title{
  margin-top:-40.97%;//590/1440
  width:100%;
  text-align: center;
  position: relative;
}
.advisors-title>h2{
  position: absolute;
  left:0;
  right:0;
  top:50%;
  transform: translateY(-50%);
}
.advisors-arrow{
  float:right;
  width:35.3%; //509/1440
  transform: scaleX(-1);
}
.advisors-body{
  background-image: url(../images/advisors-bg.svg);
  background-repeat:no-repeat;
  background-position: center center;
  width:100%;
  padding-top:69.27%; //973.04/1404.55
  margin-top:-8.68%; //125/1440
  position:relative;
}
.linkedin-icon{
  height:18px;
}
#advisor1{
  left:28.1%;
  top: 8.95%;
}
#advisor2{
  left:58.1%;
  top:8.9%;
}
#advisor3{
  left:43.5%;
  top:21.5%;
}
#advisor4{
  left:28.1%;
  top:58.9%;
}
#advisor5{
  left:58%;
  top:58.9%;
}
#advisor6{
  left:42.7%;
  top:71.5%;
}




.footer{
  background-image: url(../images/footer-bg.svg);
  background-repeat:no-repeat;
  background-position: center center;
  width:100%;
  padding-top:60.73%; //853/1404.57
  margin-top:-8.68%; //125/
  position:relative;
}
.contacts{
  position:absolute;
  top:50.85%; //465/914.3
  left:51.97%; //730/1404.5
}
.contacts-title{
  float:left;
  padding:20px;
  border-right: 5px solid $color-orange;
  text-align: center;
}
.contacts-email{
  display: inline;
}
.contacts-follow{
  float:left;
  padding:20px;
}
.contacts-follow>.icons{
  padding-top:10px;
}
.social-icon{
  padding-right:10px;
  width:40px;
  height: 40px;
}


.text-orange{
  color:$color-orange;
}
.text-blue{
  color:$color-light-blue;
}


@media screen and (max-width: 1230px) {
  .how-grid-cell-wrapper{
    width:100%;
  }
  p{
    line-height:23px;
    margin:10px 0;
  }
  h2{
    font-size:38px;
  }
  .faq-wrapper{
    width: calc(52% - #{$container-margin-small});//a little bit of cheating
  }
  .social-icon{
    width:37px;
    padding-right:5px;
  }
  ul{
    margin-top:0;
  }
}

@media screen and (max-width: 1100px) {
  .menu-item {
      padding: 0px 20px;
  }
  .narrow-column{
    padding-right: $text-padding-small;
  }
  .what-row1-text-wrapper,.what-row2-text-wrapper,.what-row3-text-wrapper,.how-grid-cell,.whitepaper-text-wrapper,.faq{
    @extend .narrow-column;
  }
  .vision-text-wrapper{
    padding: 0 $text-padding-small;
  }
  p {
    font-size:15px;
    line-height:20px;
    margin:0;
  }
  h2{
    font-size:36px;
  }
  h5{
    font-size:16px;
  }
  .contacts-title,.contacts-follow{
    padding:10px;
  }
  .content{
    width:calc(100% - (#{$container-margin-small} * 2)); //1180/1440
  }
  .intro-subscription-wrapper{
    width:calc(100% - 66.73% - 1%);//912.9/(0.95*1440)=66.73 //this depends on container-margin-small
  }
  .intro-text,.what-row1-text,.what-row3-text,.faq-wrapper,.ecosystem-img{
    margin-left: $container-margin-small;
  }
  .what-row1-text,.what-row3-text,.ecosystem-img{
    width: calc(50% - #{$container-margin-small});
  }
  .faq-wrapper{
    width: calc(55% - #{$container-margin-small});//a little bit of cheating
  }
  .what-row2-text-wrapper{
    margin-right: calc(2 * #{$container-margin-small});
  }
  .whitepaper-text{
    margin-right: $container-margin-small;
  }
  .vision{
    padding-top:51.7%;
  }
  .ecosystem{
    padding-top:58.6%;
  }
  
}



.ml-form-embedSubmitLoad {
  background-color: #FF6403;
  margin-left:22px;
  height:40px;
  width:40px;
  border:0;
  vertical-align: middle;
  outline:none;
  display: inline-block;
}
.ml-form-embedSubmitLoad:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #ffffff #ffffff #ffffff transparent;
  animation: ml-form-embedSubmitLoad 1.2s linear infinite;
}
@keyframes ml-form-embedSubmitLoad {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}
